<% content_for :head do -%>
  <%= stylesheet_link_tag 'static_pages.css' %>
<% end %>

<div class="spacer">
</div>

<div class="heading-block">
  <h2>Pricing</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
	<div class="pricing">
		<h3 class="center">
		  Incivent currently comes in three flavours. Choose an option to open an account now!
		</h3>
		<div class="price-block">
			<h3>Test</h3>
			<div class="option-price">Free</div>
			<div><strong>(for 60 Days)</strong></div>
			<ul>
				<li>2 Users</li>
				<li>2 Groups</li>
				<li>Unlimited Tasks</li>
				<li>Unlimited Messages</li>
				<li>Unlimited Events</li>
			</ul>
			<%= link_to "Sign up", account_option_param("Test")%>
		</div>
		<div class="price-block">
			<h3>Pro</h3>
			<div class="option-price">£129 pm</div>
			<div><strong>(or £1300 py)</strong></div>
			<ul>
				<li>20 Users</li>
				<li>10 Groups</li>
				<li>Unlimited Tasks</li>
				<li>Unlimited Messages</li>
				<li>Unlimited Events</li>
			</ul>
			<%= link_to "Sign up", account_option_param("Pro") %>
		</div>
		<div class="price-block">
			<h3>Enterprise</h3>
			<div class="option-price">£199 pm</div>
			<div><strong>(or £2000 py)</strong></div>
			<ul>
				<li>Unlimited Users</li>
				<li>Unlimited Groups</li>
				<li>Unlimited Tasks</li>
				<li>Unlimited Messages</li>
				<li>Unlimited Events</li>
			</ul>
			<%= link_to "Sign up", account_option_param("Enterprise") %>
		</div>
		<br class="clear" />
	</div>
</div>
