<% content_for :head do -%>
  <%= stylesheet_link_tag 'static_pages.css' %>
<% end %>

<div class="spacer">
</div>

<div class="heading-block">
  <h2>Signup</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
	<div class="pricing">
		<h3 class="center">
			<br />
			<strong>The ImpactReady application is currently for closed beta users only.</strong>
			<br /><br />
			Please contact us using the button below if you would like to obtain access.
			<br /></br />
		</h3>
		<div class="large_button_container">
			<%= link_to "New account ", contact_path(new_account: true), class: 'large_button' %>
		</div>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>
