<% content_for :head do -%>
  <%= stylesheet_link_tag 'static_pages.css' %>
<% end %>

<div class="spacer">
</div>

<div class="heading-block">
  <h2>Service Terms</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
	<div class ="centered-text">
		<h3>General</h3>
		<p class="normal">These Service Terms are a contract between you and World-wize, a sole-proprietorship with its principle place of business at 18 Scully St., Roosevelt Park, 2195, South Africa (“World-wize”). World-wize operates www.incivent.com (“Incivent Platform”) and the form document generation, collection and storage services therein (collectively the “Service”). By using the Incivent Platform and any services accessible from the Incivent Platform, you are agreeing to be bound by the following terms and conditions (“Service Terms”).</p>

		<p class="normal">If you do not agree to these Service Terms or any part thereof, your only remedy is to not use the Incivent Platform or the Service. VIOLATION OF ANY OF THE TERMS BELOW WILL RESULT IN THE TERMINATION OF YOUR RIGHT TO USE THE INCIVENT PLATFORM, AND ANY ACCOUNT THAT YOU MAY HAVE CREATED AS PART OF THE SERVICE. YOU AGREE TO USE THE INCIVENT PLATFORM AT YOUR OWN RISK.</p>

		<p class="normal">Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis. Technical support is only provided to paying account holders and is only available via email. You understand that World-wize uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service</p>
		<br />

		<h3>Your Account</h3>
		<p class="normal">In order to open an “Account” on the Incivent Platform, you must (i) agree to these Service Terms, (ii) provide a valid email address, and (iii) provide any other information required by World-wize during the registration process. You will update this information to maintain its accuracy during the term of this Service. You are responsible for maintaining the security of your account and password. World-wize cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You are also responsible for all content that you may post on the Incivent Platform (“Content”) and activity that occurs under your Account (even when Content is posted by others who have accounts under your Account). Personally identifiable information submitted by you shall be subject to World-wize’s Privacy Policy. One person or legal entity may not maintain more than one free Account. Accounts registered by “bots” or other automated methods are not permitted.</p>
		<br />

		<h3>Payment</h3>
		<p class="normal">A valid PayPal account is required for paying accounts. Free accounts which provide a limited access to the Service are not required to provide a PayPal account. The Incivent Platform is billed in advance on a monthly basis in accordance with our pricing schedule and all payments are non-refundable. There will be no refunds or credits for partial months of Service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</p>

		<p class="normal">You will be billed for your first month immediately upon signing up for a paying account. After signing up for a paying account and you don’t cancel that account within 30 days, you will be billed monthly starting on the 30th day after your account was initially created. An upgrade from the free account to any paying account will end your free trial. You will be billed for your first month immediately upon upgrading. For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged monthly the new rate. World-wize reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice</p>

		<p class="normal">DOWNGRADING YOUR ACCOUNT MAY CAUSE THE LOSS OF CONTENT, FEATURES, OR CAPACITY OF YOUR ACCOUNT. WORLD_WIZE DOES NOT ACCEPT ANY LIABILITY FOR SUCH LOSS.</p>
		<br />

		<h3>Cancellation</h3>
		<p class="normal">You are solely responsible for properly canceling your account. An email or phone request to cancel your account shall not result in cancellation. You can cancel your account at any time by clicking on the Account link in the navigation bar at the top of the screen.</p>

		<p class="normal">Cancellations will take effect immediately. Upon the commencement of a new Service period the Service will terminate without additional notice, and you will not be charged for any subsequent Service periods. You will not be provided any refunds for unused time on your Service period.</p>
		<br />

		<h3>Copyright</h3>
		<p class="normal">We claim no intellectual property rights over the material you provide to the Incivent Platform. Your profile and materials uploaded remain yours. However, by setting your pages to be shared publicly, you agree to allow others to view and share any Content. World-wize does not pre-screen Content, but World-wize and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Incivent Platform.</p>
		<br />	

		<h3>Changes and Alterations</h3>
		<p class="normal">As a condition to your use of the Incivent Platform, you agree not to:</p>
		<ul>
			<li>upload, post, email, transmit or otherwise make available any information, materials or other content that is illegal, harmful, threatening, abusive, harassing, defamatory, obscene, pornographic, offensive, invades another’s privacy, or promotes bigotry, racism, hatred or harm against any individual or group;</li>

			<li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>

			<li>phish, collect, upload, post, email, transmit or otherwise make available any login data and/or passwords for other web sites, software or services;</li>

			<li>phish, collect, upload, post, email, transmit or otherwise make available credit card information or other forms of financial data used for collecting payments;</li>

			<li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through the Incivent Platform;</li>

			<li>upload, post, email, transmit or otherwise make available any information, materials or other content that infringes another’s rights, including any intellectual property rights;</li>

			<li>upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation;</li>

			<li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>

			<li>use any manual or automated software, devices, or other processes to “crawl,” “spider” or “screen scrape” any web pages contained in the Incivent Platform;</li>

			<li>reverse engineer, decompile or disassemble any of the software used to provide the Incivent Platform;</li>

			<li>reproduce, duplicate or copy or exploit any other portion of the Incivent Platform, without the express written permission of World-wize;</li>

			<li>interfere with or disrupt the Incivent Platform, or any servers or networks connected to the Incivent Platform, or disobey any requirements, procedures, policies or regulations of networks connected to the Incivent Platform;</li>

			<li>obtain, collect, store or modify the personal information about other users;</li>

			<li>modify, adapt or hack the Incivent Platform or falsely imply that some other site is associated with the Incivent Platform or World-wize; or</li>

			<li>use the Incivent Platform for any illegal or unauthorized purpose. You must not, in the use of the Incivent Platform, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
		</ul>
		<br />

		<h3>Changes and Alterations</h3>
		<p class="normal">These Service Terms constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter (including, but not limited to, any prior versions of the Service Terms). Any waiver of any provision of the Service Terms will be effective only if in writing and signed by an authorized representative of World-wize.</p>

		<p class="normal">Questions about the Service Terms should be addressed to <%= mail_to "support@world-wize.com", "support@world-wize.com" %>.</p>
	</div>
<div>