<div class="spacer">
</div>

<div class="heading-block">
  <h2>Add a Message</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'messages/form_fields' %>
</div>
