$('#group-admin').html(
  '<table>' +
    '<tr class="listing-header">' +
      '<td class="listing-i-ff">Name:</td>' +
      '<td class="listing-i-fl">Description:</td>' +
      '<td>Membership Status:</td>' +
      '<td>Actions:</td>' +
    '</tr>' +
    '<%= escape_javascript(render(@groups)) %>' +
  '</table>'
)
