---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=60.0,70.0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Khanty-Mansiysky District",
                       "short_name" : "Khanty-Mansiysky District",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Khanty-Mansi Autonomous Okrug",
                       "short_name" : "KhMAO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Russia",
                       "short_name" : "RU",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Khanty-Mansiysky District, Khanty-Mansi Autonomous Okrug, Russia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 63.187037,
                          "lng" : 71.1719432
                       },
                       "southwest" : {
                          "lat" : 59.83928299999999,
                          "lng" : 66.1286499
                       }
                    },
                    "location" : {
                       "lat" : 62.47702460000001,
                       "lng" : 69.673056
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 63.187037,
                          "lng" : 71.1719432
                       },
                       "southwest" : {
                          "lat" : 59.83928299999999,
                          "lng" : 66.1286499
                       }
                    }
                 },
                 "types" : [ "administrative_area_level_2", "political" ]
              },
              {
                 "address_compo[...]
