<div class="spacer">
</div>

<div class="heading-block">
  <h2>New event</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'incivents/form_fields' %>
</div>
