---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=19%20Corlett%20Drive,%20Johannesburg&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "19",
                       "short_name" : "19",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Corlett Drive",
                       "short_name" : "Corlett Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Illovo",
                       "short_name" : "Illovo",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
           [...]
