<div class="mobile-heading-block">
    <h2>All tasks</h2>
</div>
<% if @tasks.count == 0 %>

  <div class="mobile-form">
    <p>You do not have any tasks assigned to you.</p>
  </div>

<% else %>

  <div class="mobile-task-table">
    <% @tasks.each do |task| %>
        <% unless task.complete? %>
          <%= render 'tasks/task_show', task: task %>
        <% end %>
    <% end %>
  </div>

<% end %>

<div class="spacer"></div>

<div class="mobile-heading-block">
    <h2>Report In</h2>
</div>

<div class="mt-item">
  <div class="mt-buttons">
    <a href="#">
      <div class="mt-button-i">New Event</div>
    </a>
    <a href="#">
      <div class="mt-button-t">New Task</div>
    </a>
    <a href="#">
      <div class="mt-button-m">New Message</div>
    </a>
  </div>
</div>

<div class="mt-item">
  <div class="mt-buttons">
    <%= link_to signout_path, method: :delete do %>
      <div class="mt-button-s">Sign out</div>
    <% end %>
  </div>
</div>

