<div class="spacer">
</div>

<div class="heading-block">
  <h2>Edit type</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'types/form_fields' %>
</div>

<%= link_to 'Back', types_path %>
