<div class="spacer">
</div>

<div class="heading-block">
  <h2>Type options</h2>
</div>

<div class="spacer">
</div>

<p class="normal">
  <%= link_to 'New event type', new_type_path %>
</p>

<% if @types.count == 0 %>

  <div class="general-form">
    <p class="normal">You have not set up any types yet.</p>
  </div>

<% else %>

  <div class="item-table">
    <table>
      <tr class="listing-header">
        <td class="listing-i-fm">Description:</td>
        <td></td>
        <td></td>
      </tr>
      <% @types.each do |type| %>
        <tr class="listing-item">
          <td class="listing-i-fm"><%= type.description %></td>
          <td><%= link_to 'Edit', edit_priority_path(type) %></td>
          <td><%= link_to 'Delete', type, data: {confirm: 'Are you sure?'}, method: :delete %></td>
        </tr>
      <% end %>
    </table>

  </div>

<% end %>