

  <tr class="listing-item">
    <td class="listing-i-ff"><%= group.name %></td>
    <td class="listing-i-fl"><%= group.description %></td>
    <%= render 'groups/group_memberships', :group => group %>
  </tr>

