<div class="spacer">
</div>

<div class="heading-block">
  <h2>Edit this team</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'groups/form_fields' %>
</div>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
