<div class="spacer">
</div>

<div class="heading-block">
  <h2><%= @user.full_name %></h2>
</div>

<div class="spacer">
</div>

<p class="normal"><strong>Email:</strong> <%= @user.email %></p>
<% if current_user == @user %>
  <p class="normal"><%= link_to "Edit", edit_user_path(current_user) %> |
  <%= link_to "Delete", current_user, method: :delete, data: {confirm: "You sure you want to remove your profile?"},
                                title: "Remove your profile?" %><p>
<% end %>