---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=12+Kloof+Street+Cape+Town&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "12",
                       "short_name" : "12",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Kloof Street",
                       "short_name" : "Kloof St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Gardens",
                       "short_name" : "Gardens",
                       "types" : [ "sublocality", "political" ]
                    },
                    {
                       "long_name" [...]
- request:
    method: post
    uri: http://client.connet-systems.com/submit/
    body:
      encoding: US-ASCII
      string: username=worldwize&password=vae0aih5Bayerau&account=worldwize&da=%5BIncivent%5D+-+Your+message%2Fevent+has+been+logged.&ud&id=u8uyfvt3kf
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: |
        BatchIdentifier: worldwize_worldwize_20140127111509_1390814109.7677
        Code: 811
        Description: Missing User Data
        Info: u8uyfvt3kf
  recorded_at: Mon, 27 Jan 2014 09:15:09 GMT
recorded_with: VCR 2.4.0
