---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=40%20Kloof%20Street%20Cape%20Town&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "40",
                       "short_name" : "40",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Kloof Street",
                       "short_name" : "Kloof St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Gardens",
                       "short_name" : "Gardens",
                       "types" : [ "sublocality_level_2", "sublocality", "political" ]
                    },
                    {
            [...]
- request:
    method: post
    uri: http://client.connet-systems.com/submit/
    body:
      encoding: US-ASCII
      string: username=worldwize&password=vae0aih5Bayerau&account=worldwize&da=%5BIncivent%5D+-+Your+message%2Fevent+has+been+logged.&ud&id=gozgq4wv09
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |
        BatchIdentifier: worldwize_worldwize_20140714204000_1405363200.3479
        Code: 811
        Description: Missing User Data
        Info: gozgq4wv09
  recorded_at: Mon, 14 Jul 2014 18:40:00 GMT
recorded_with: VCR 2.9.2
