<div class="spacer">
</div>

<div class="heading-block">
  <h2>New indicator measurement</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'measurements/form_fields' %>
</div>
