<div class="spacer">
</div>

<div class="heading-block">
  <h2>Edit this account option</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'account_options/form_fields' %>
</div>

<%= link_to 'Back', statuses_path %>
