/* main page */

.home-page-form {
  height: auto;
  margin: 5px 0 5px 0;
  padding: 10px;
  background-color:  #8C8C8C;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

h1.home-page {
    line-height: 120%;
    text-align: center;
    margin: 10px;
    color: #FFFFFD;
    font-family: 'ABeeZee', sans-serif;
}

h3.home-page-top {
    font-size: 20px;
    color: #FFFFFD;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.main-page-image {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  //padding: 8px 0 8px 5px;

}

.features {
  border-top: 1px solid #ddd;
  background-color: #FFFFFD;
  padding: 15px 0 30px 0;
  -webkit-box-shadow: 2px 1px 2px hsla(0,0%,0%,.2);
  box-shadow: 2px 1px 2px hsla(0,0%,0%,.2);
}

.feature-heading {
  padding: 80px;
  border-bottom: solid 1px #ddd;
  text-align: center;
  h1 {
    color: #888;
    font-family: 'ABeeZee', sans-serif;
  }

}

.feature-row {
  float: none;
  .even {
    background-color: #C8EDF1;
  }
}

.feature-block {
  float: left;
  width: 200px;
  height: 100px;
  padding: 15px;
  margin: 5px 0;
  font-size: 17px;
  color: #444;

}

.feature-image {
  text-align: center;
  margin-top: 5px;
  img {
    width: 80px;
    height: 80px;
  }
}

.dotted-right {
    border-right: 2px dotted #ddd;
}

/* pricing pages */

.pricing {
    float: none;
}

.price-block {
  font-family: 'Arimo', sans-serif;
  border-top: 2px solid #eee;
  padding-top: 5px;
  float: left;
  position: relative;
  height: 250px;
  width: 300px;
  text-align: center;
}

.price-block:hover {
    background-color: #DFFFFF;
}

.price-block h3 {
    font-size: 2.1em;
    font-weight: bold;

}

.price-block a {
  background: url(/assets/ButtonNorm.png) no-repeat;
  width: 151px;
  height: 51px;
  position: absolute;
  text-indent: -5000px;
  left: 89px;
  top: 195px;
}

.price-block ul {
    padding: 0;
}

.price-block ul li {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
  font-style: italic;
}

.price-block a:hover {
    background: url(/assets/ButtonHighlight.png) no-repeat;
}

.option-price {
  font-size: 1.7em;
  font-weight: bold;
}


/* Drop Shadows */

.drop-shadow {
  -webkit-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
  box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}


/* Lifted corners */

.lifted {
  -moz-border-radius:4px;
       border-radius:4px;
}

.lifted:before,
.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
          box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-2deg);
     -moz-transform:rotate(-2deg);
      -ms-transform:rotate(-2deg);
       -o-transform:rotate(-2deg);
          transform:rotate(-2deg);
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(2deg);
     -moz-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
       -o-transform:rotate(2deg);
          transform:rotate(2deg);
}