/* main page */

.home-page-form {
  height: auto;
  margin: 100px 0 200px 0;
  padding: 10px;
  background-color:  #8C8C8C;
  opacity: 0.9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

h1.home-page {
    line-height: 120%;
    text-align: center;
    margin: 10px;
    color: #FFFFFD;
    font-family: 'ABeeZee', sans-serif;
}

h3.home-page-top {
    font-size: 20px;
    color: #FFFFFD;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}

.main-page-image {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  //padding: 8px 0 8px 5px;

}

.features {
  border-top: 1px solid #ddd;
  background-color: #FFFFFD;
  padding: 15px 0 30px 0;
  -webkit-box-shadow: 2px 1px 2px hsla(0,0%,0%,.2);
  box-shadow: 2px 1px 2px hsla(0,0%,0%,.2);
}

.feature-heading {
  padding: 30px 70px;
  border-bottom: solid 1px #ddd;
  text-align: center;
  h1 {
    color: #888;
    font-family: 'ABeeZee', sans-serif;
  }

}

.feature-row {
  float: none;
  .even {
    background-color: #C8EDF1;
  }
}

.feature-block {
  float: left;
  width: 200px;
  height: 100px;
  padding: 15px;
  margin: 5px 0;
  font-size: 17px;
  color: #444;

}

.feature-image {
  text-align: center;
  margin-top: 5px;
  img {
    width: 80px;
    height: 80px;
  }
}

.dotted-right {
    border-right: 2px dotted #ddd;
}

/* pricing pages */

.pricing {
    float: none;
}

div.large_button_container {
    text-align: center;
    margin-top: 10px;

  a.large_button {
    font-size: 2em;
    color: #FFF;
    background-color: #999;
    padding: 5px 13px 5px 13px;
    border-radius: 7px;
  }

  a.large_button:hover {
    background-color: #1465A7;
    text-decoration: none;
  }

}


.option-price {
  font-size: 1.7em;
  font-weight: bold;
}
