<footer>

    <div class="bottom-navigation">
    <nav class="footer-menu">
        <ul>
            <li><%#= link_to "Privacy Policy", privacy_path %></li>
            <li><%#= link_to "Service Terms", terms_path %></li>
        </ul>
    </nav>
    </div>

    <div class="footer-copyright">
        <p>Copyright 2011-2014 ImpactReady. All rights reserved.</p>
    </div>

</footer>