<div class="spacer">
</div>

<div class="heading-block">
  <h2>Edit account</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <%= render 'accounts/form_fields' %>
</div>