<div class="spacer">
</div>

<div class="heading-block">
  <h2>Create a new Account</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
<p> Choose a name for your new account.</p>
  <%= render 'accounts/form_fields' %>
</div>