<div class="spacer">
</div>

<div class="heading-block">
  <h2>Want to know more?</h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
  <h3 class="home-page"> We are currently conducting a round of beta testing with a few selected clients. However, we will launch the full-featured platform by mid-2012. If you would like to receive a once-off email when we launch, please enter your email address below.</h3>
  <h3 class="home-page">Note: We personally suffer from spamming every day and we will not share your email adress with anyone. Ever.</h3>
  <br/>
  <%= render 'launch_interests/form_fields' %>
  
</div>