<div class="listing">  
  <div class="listing-item">
    <div class="listing-i-fm"><%= launch_interest.email_address %></div>
    <div class="listing-i-fll"><%= launch_interest.message %></div>
    <div class="listing-i-f"><%= link_to 'Delete', launch_interest, data: {confirm: 'Are you sure?'}, method: :delete %></div>
    <br class="clear" />
  </div>
</div>